:root {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.header-area {
  background-color: #fff;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px 0;
}

.menu {
  display: flex;
  list-style: none;
  gap: 50px;
}

.menu a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #000;
  text-transform: capitalize;
}

.profile {
  display: flex;
  align-items: center;
  gap: 30px;
}

.profile i,
a {
  color: #000;
}

.hr {
  border: 1px solid #d9d9d9;
  margin-bottom: 30px;
}

hr {
  border: 1px solid #d9d9d9;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 1240px;
}

.funiro h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #000;
}

.funiro p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #9f9f9f;
  margin-top: 30px;
}

.links h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #9f9f9f;
  margin-bottom: 40px;
}

.links li {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #000;
  margin: 20px 0;
}

.help h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #9f9f9f;
  margin-bottom: 40px;
}

.help li {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #000;
  margin: 20px 0;
}

.newsletter h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #9f9f9f;
  margin-bottom: 40px;
}

.newsletter input {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: #9f9f9f;
}

.subscribe h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: #9f9f9f;
  text-transform: uppercase;
  margin-top: 70px;
}

.footer-last {
  width: 1240px;
}

.footer-last p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #000;
  margin-bottom: 50px;
}
