body {
  width: 1440px;
}

* {
  margin: 0 auto;
  padding: 0;
}
.header-area {
  background-color: #fff;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px 0;
}

.menu {
  display: flex;
  list-style: none;
  gap: 50px;
}

.menu a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #000;
  text-transform: capitalize;
}

.profile {
  display: flex;
  align-items: center;
  gap: 30px;
}

.profile i,
a {
  color: #000;
}

.cover-area {
  width: 1440px;
}
.cover img {
  width: 100%;
  position: relative;
}

.cover-text {
  width: 600px;
  height: 400px;
  background-color: #fff3e3;
  padding: 50px 30px 20px;
  position: absolute;
  top: 200px;
  left: 750px;
}

.cover-text2 {
  width: 500px;
  height: 300px;
}

.cover-text h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  color: #000;
}

.cover-text h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 52px;
  line-height: 65px;
  color: #b88e2f;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-text-stroke: 1.5px black;
}

.cover-text p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin-top: 10px;
  margin-bottom: 60px;
}

.cover-text a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 25px 72px;
  background-color: #b88e2f;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}

.range {
  margin: 30px 80px;
}

.range-text {
  text-align: center;
  margin-bottom: 30px;
}

.range-text h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
}

.range-text p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
.range-image {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.range-image-caption {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.range-image-caption p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
}

.product {
  margin: 30px 80px;
}

.product h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.product-top {
  display: flex;
  gap: 20px;
}

.product-bottom {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}
.single-product {
  background-color: #f4f5f7;
  position: relative;
}

.single-product-text {
  margin: 10px 15px 15px;
}

.single-product h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
}

.single-product-description {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  margin: 5px 0;
}

.single-product-price {
  display: flex;
  gap: 15px;
}

.single-product-discount-price {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}

.single-product-main-price {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.price-discount30a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-color: tomato;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  color: #fff;
  position: absolute;
  top: 1610px;
  left: 350px;
}

.price-discount50a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-color: tomato;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  color: #fff;
  position: absolute;
  top: 1610px;
  left: 1000px;
}

.price-discount50b {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-color: tomato;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  color: #fff;
  position: absolute;
  top: 2080px;
  left: 1000px;
}

.price-discount-newa {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-color: teal;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  color: #fff;
  position: absolute;
  top: 1610px;
  left: 1330px;
}

.price-discount-newb {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-color: teal;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  color: #fff;
  position: absolute;
  top: 2080px;
  left: 670px;
}
.price-discount-newc {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-color: teal;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  color: #fff;
  position: absolute;
  top: 2080px;
  left: 1330px;
}

.products-area a {
  text-decoration: none;
}

.products-area {
  margin-bottom: 60px;
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
}
.show a {
  text-decoration: none;
  text-transform: capitalize;
  color: #b88e2f;
  padding: 20px 50px;
  border: 1px solid #b88e2f;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  text-align: center;
}

.rooms-area {
  background-color: #fcf8f3;
  margin-bottom: 50px;
}

.rooms {
  display: flex;
  justify-content: space-between;
}

.rooms-text {
  width: 422px;
  padding: 200px 50px;
}

.rooms-text h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  color: #3a3a3a;
  line-height: 120%;
}

.rooms-text p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #616161;
  line-height: 150%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.rooms-text a {
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  padding: 15px 30px;
  background-color: #b88e2f;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}
.rooms-slider {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.setup-area {
  margin-bottom: 50px;
}

.setup-text h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  color: #616161;
  line-height: 150%;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.setup-text h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  color: #3a3a3a;
  line-height: 120%;
  text-align: center;
  margin-bottom: 30px;
}

.hr {
  border: 1px solid #d9d9d9;
  margin-bottom: 30px;
}

hr {
  border: 1px solid #d9d9d9;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 1240px;
}

.funiro h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #000;
}

.funiro p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #9f9f9f;
  margin-top: 30px;
}

.links h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #9f9f9f;
  margin-bottom: 40px;
}

.links li {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #000;
  margin: 20px 0;
}

.help h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #9f9f9f;
  margin-bottom: 40px;
}

.help li {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #000;
  margin: 20px 0;
}

.newsletter h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #9f9f9f;
  margin-bottom: 40px;
}

.newsletter input {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: #9f9f9f;
}

.subscribe h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: #9f9f9f;
  text-transform: uppercase;
  margin-top: 70px;
}

.footer-last {
  width: 1240px;
}

.footer-last p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #000;
  margin-left: 50px;
  margin-bottom: 50px;
}
